body {
    font-family: "Pridi", serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .profile-container {
        padding: 10px;
    }

    .profile-info p {
        font-size: 1em;
    }
}



.gradient-bg {
    background: linear-gradient(0deg, rgb(8, 63, 191) 0%, rgb(8, 52, 155) 100%);
    color: white;
    text-align: center;
}

.logo-container {
    margin-top: 20px;
    margin-right: 500px;
}

.logo {
    width: 250px;
    height: auto;
    margin: 0 -500px !important;
}

.profile-info {
    text-align: left;
}
/* ajuste do tamanho da imagem de perfil  */
.small-profile-img {
    width: 400px; 
    height: 300px;
}

.large-profile-img {
    width:1200px; 
    height: 1200px;
}

/* fonte */
.pridi-extralight {
    font-family: "Pridi", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .pridi-light {
    font-family: "Pridi", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .pridi-regular {
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pridi-medium {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .pridi-semibold {
    font-family: "Pridi", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .pridi-bold {
    font-family: "Pridi", serif;
    font-weight: 700;
    font-style: normal;
  }