body {
    font-family: "Pridi", serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
}

.social-header {
    background-color: #141414;
}

header {
    background-color: #09349d;
    color: #e6e6e6;
    padding: 5px 0;
    text-align: center;
}
p{
    color: #e6e6e6;
}
a {
    color: white;
}

.logo {
    width: 250px;
    height: auto;
    margin: auto; /* Centraliza a logo horizontalmente */
}

.profile-info {
    margin-top: 20px;
    text-align: left;
}

.profile-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.small-profile-img {
    max-width: 300px;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.large-profile-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/* Estilo para os ícones */
.social-icon {
    color: white; 
    margin-right: 30px;
    font-size: 20px; 
    transition: color 0.3s; 
}

.social-icon:hover {
    color: #ccc; 
}

@media (max-width: 767.98px) {
    .logo {
        width: 50%;
    }

    .profile-info p {
        font-size: 1em;
    }

    .btn-block {
        width: 100%;
    }
}
/* ajuste estilos do modal */
.modal-header {
    border-bottom: none;
    background-color: #222; 
    color: #fff;
    padding: 20px;
    
}

.modal-body {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 0px 0px;
}

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0 0 10px 10px;
}

.modal-footer {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

#edit-btn {
    border-radius: 20px;
    transition: all 0.3s ease; /* Transição suave para o efeito hover */
}

/* Efeito hover */
#edit-btn:hover {
    background-color: #03458b; /* Mudar a cor de fundo quando passar o mouse */
    color: #fff; /* Mudar a cor do texto quando passar o mouse */
}